.slide {
    animation-duration: 5s;
    animation-name: slidein;
    background-color: orange;
}

@keyframes slidein {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#progress {
    margin: 1em 0;
    height: 1em;
    width: 100%;
}