.hidden {
    opacity: 0;
}

.slide {
    animation-duration: 3s;
    animation-name: slidein;
    background-color: orange;
}

.fadeIn {
    animation-duration: 2s;
    animation-name: fadeIn;
    opacity: 1;
}

.fadeOut {
    animation-duration: 2s;
    animation-name: fadeOut;
    opacity: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slidein {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#progress {
    margin: 1em 0;
    height: 1em;
    width: 100%;
}

.img-container {
    position: relative;
    height: 400px;
    margin: 0 auto;
}

.img-container>img {
    max-width: 400px;
    max-height: 400px;
    position: absolute;
}

.dummy {
    display: none;
}